## Deeplearning network 
### the present notebook want to classify the "x" and "y" data coming from two different linear equations
### Equation 1: 3*x  = y 
### Equation 2: 5*x  = y 

implemetation of the following Steps:

1. to create Excell dataset with 500 tuple (x,y,z) 
    x random in a range [-100,100] 
    y result of Equation 1 or Equation 2 randomly 
    z integer 0 if y calculated from Equation 1 and 1 if from Equation 2 
   than save it  as "datset.xlxs"
   save all dataset in the Sheet "dataset_simple"
 

2. open .xlxs dataset and save as .CSV

3. divide the dataset in 
                          450 data as "train_data" and "train_solution" ,
                          25 data as "test_data" and "test_solution" , 
                          25 data as "validate_data" and "validate_solution"

In [13]:
pwd # restituisce la directory di lavoro

'C:\\Users\\Adrix\\Desktop\\deeplearning-intro-modification'

# Utilities Functions

###  write "adrix()" for the function list

In [73]:
def adrix():
    print ('1. dataframe_from_XLSX_2_CSV(info,path_xlsx,xlsx_name,sheet_name,path_csv,csv_name)')
    return None

In [74]:
adrix()   # la funzione "adrix()" contiene la lista delle funzioni implementate 
          # inoltre richiamando una qualsiasi funzione con "True" in corrispondenza del parametro "info" ottengo suggerimenti su come 
          # utilizzare la funzione

1. dataframe_from_XLSX_2_CSV(info,path_xlsx,xlsx_name,sheet_name,path_csv,csv_name)

In [62]:
def dataframe_from_XLSX_2_CSV(info,path_xlsx,xlsx_name,sheet_name,path_csv,csv_name):
    if info==True:
        print ("FUNCTION: dataframe_from_XLSX_2_CSV(info,path_xlsx,xlsx_name,sheet_name,path_csv,csv_name)")
        print ("          location of xlsx file, be sure to add the path to xlsx file as following:","'C:\\Users\Adrix\Desktop'")
        print ("          destination to csv file, be sure to add the path to csv file as following:","'C:\\Users\Adrix\Desktop'")
    else:
        os.chdir(path_xlsx)  # combio la mia working directory dove è localizzato il file .xlsx
        data_xls = pd.read_excel(xlsx_name, sheet_name, index_col=None) # pandas legge il file excel
        os.chdir(path_csv) # combio la mia working directory dove voglio salvare il file .csv
        data_xls.to_csv(csv_name, encoding='utf-8',index=False)  # salva il file in .csv
return None

In [82]:
def dataframe_CSV_read(info,path_csv,csv_name,view_points):
    if info==True:
        print ("FUNCTION: dataframe_from_XLSX_2_CSV(info,path_xlsx,xlsx_name,sheet_name,path_csv,csv_name)")
        print ("          location of xlsx file, be sure to add the path to xlsx file as following:","'C:\\Users\Adrix\Desktop'")
        print ("          destination to csv file, be sure to add the path to csv file as following:","'C:\\Users\Adrix\Desktop'")
    else:
        os.chdir(path_csv) # combio la mia working directory dove è localizzato il file .csv
        # Reading the csv file into a pandas DataFrame
        data_glob = pd.read_csv(csv_name)  # creato il DataFrame "data_glob"

        # Printing out the first 10 rows of our data
        if view_points<data_glob.size:
            print(data_glob[:view_points])
        else:
            print

return None

In [86]:
dataframe_CSV_read(None,'C:\\Users\Adrix\Desktop','dataset.csv',1600)

# Neural Network functions

###  write "adrix_net()" for the function list

In [2]:
# visualizziamo i primi 20 punti

# Reading the csv file into a pandas DataFrame
data_glob = pd.read_csv('dataset.csv')  # creato il DataFrame "data_glob"

# Printing out the first 10 rows of our data
data_glob[:10]

   x1    y  z
0  57  285  1
1   6   30  1
2  15   75  1
3  75  375  1
4  76  380  1
5   7   21  0
6  83  415  1
7   5   25  1
8   8   40  1
9  54  270  1

In [3]:
mean_=np.array([])
std_=np.array([])
for s in ['x1','y']:
    mean,std=np.array([data_glob[s].mean()]),np.array([data_glob[s].std()])
    data_glob.loc[:,s]=(data_glob[s]-mean)/std
    mean_=np.append([mean_],[mean])
    std_=np.append([std_],[std])
print (mean_,std_)

[ 51.444 207.464] [ 28.94405605 130.4284012 ]

In [4]:
# Printing out the first 10 rows of our data
data_glob[:10]

         x1         y  z
0  0.191957  0.594472  1
1 -1.570063 -1.360624  1
2 -1.259119 -1.015607  1
3  0.813846  1.284506  1
4  0.848395  1.322841  1
5 -1.535514 -1.429627  0
6  1.090241  1.591187  1
7 -1.604613 -1.398959  1
8 -1.500964 -1.283953  1
9  0.088308  0.479466  1